* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --bg-color: #222327;
  --text-color: #ffffff;
  --main-color: #29fd53;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 20px 50px;
}
header .logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 28px;
}
header .navbar li {
  list-style-type: none;
  display: inline-block;
  padding: 12px 18px;
}
header .navbar li a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.5s ease;
}
header .navbar li a:hover {
  color: var(--main-color);
}
header .navbar li a:active {
  color: var(--main-color);
}
header .main {
  display: flex;
  align-items: center;
}
header .main a {
  text-decoration: none;
  color: var(--text-color);
  padding: 12px 16px;
}
header .main a:hover {
  color: var(--main-color);
  transition: all 0.5s ease;
}
header .main .bx {
  font-size: 28px;
  padding-left: 12px;
}
header .main .user {
  display: flex;
  align-items: center;
}
header .main .user i {
  color: var(--main-color);
  margin-right: 5px;
}
header .main #menu-icon {
  font-size: 36px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1280px) {
  header {
    padding: 14px 20px;
    transition: 0.2s;
  }
  .navbar {
    padding: 5px 0;
  }
}
@media (max-width: 1090px) {
  header {
    padding: 14px 20px;
    transition: 0.2s;
  }
  header .navbar {
    position: absolute;
    top: 20%;
    right: -100%;
    height: 250px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  header .navbar li a {
    display: block;
    transition: all 0.5s ease;
  }
  header .navbar li:hover {
    color: #222327;
    transform: translateY(5px);
  }
  header .navbar .open {
    right: 2%;
  }
  header .main #menu-icon {
    display: block;
  }
}
